{% extends 'base.html' %}

{% block enfant %}
    <!-- Breadcrumbs -->
    <section class="section novi-background breadcrumbs-custom bg-image context-dark bgajout">
        <div class="breadcrumbs-custom-inner">
        <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
            <h6 class="breadcrumbs-custom-subtitle title-decorated">A Propos</h6>
            <h2 class="text-uppercase breadcrumbs-custom-title">A Propos</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
            <li><a href="/">Home</a></li>
            <li class="active">A Propos</li>
            </ul>
        </div>
        </div>
    </section>
    <!-- Working at CaseCraft-->
    <section class="section novi-background section-lg">
        <div class="container">
            <div class="row row-50 justify-content-center justify-content-lg-between flex-lg-row-reverse">
                <div class="col-md-10 col-lg-6 col-xl-5">
                <h3 class="text-uppercase">Qui sommes nous</h3>
                <p class="about-subtitle">MaMaisonMaVie, c'est une equipe competente, des gens devoués et passionnés, qui mettent la qualité a votre service</p>
                <p>MaMaisonMaVie est la plus grande société immobilière et de gestion immobilière à service complet. Nous offrons une expertise dans la commercialisation et la vente d'une large gamme de propriétés, y compris des propriétés résidentielles, des fermes et des immeubles de style de vie, ainsi que des propriétés commerciales et industrielles qui, nous l'espérons, pourront vous intéresser.</p>
                <a class="button button-lg button-primary button-winona" href="{{ url_for('achete_maison') }}">Voir les propriétés</a>
                </div>
                <div class="col-md-10 col-lg-6 col-xl-6"><img class="img-responsive" src="static/images/grid-blog-2-571x353.jpg" alt="" width="570" height="388"/>
                </div>
            </div>
        </div>
    </section>
    <!-- Advantages and Achievements-->
    <section class="section novi-background section-md text-center bg-gray-100">
        <div class="container">
        <h3 class="text-uppercase wow-outer"><span class="wow slideInUp">Pourquoi nous choisir?</span></h3>
        <p class="wow-outer"><span class="text-width-1 wow slideInDown">Nous aimons ce que nous faisont et somme la pour vous ervir</span></p>
        <div class="row row-50">
            <div class="col-6 col-md-3 wow-outer">
            <!-- Counter Minimal-->
            <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-users2"></div>
                <div class="counter-minimal-main">
                <div class="counter">12</div>
                </div>
                <h5 class="counter-minimal-title">Partenaires nationaux</h5>
            </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
            <!-- Counter Minimal-->
            <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-home-icon3"></div>
                <div class="counter-minimal-main">
                <div class="counter">238</div>
                </div>
                <h5 class="counter-minimal-title">Propriétés</h5>
            </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
            <!-- Counter Minimal-->
            <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-star"></div>
                <div class="counter-minimal-main">
                <div class="counter">19</div>
                </div>
                <h5 class="counter-minimal-title">Des années d'expérience</h5>
            </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
            <!-- Counter Minimal-->
            <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-apartment"></div>
                <div class="counter-minimal-main">
                <div class="counter">54</div>
                </div>
                <h5 class="counter-minimal-title">Courtiers qualifiés</h5>
            </article>
            </div>
        </div>
        </div>
    </section>
    <section class="section novi-background section-lg text-center">
        <div class="container">
        <h3 class="text-uppercase wow-outer"><span class="wow slideInUp">Notre Equipe</span></h3>
        <div class="row row-lg-50 row-35 row-xxl-70 justify-content-center justify-content-lg-start">
            <div class="col-md-10 col-lg-6 wow-outer">
            <!-- Profile Creative-->
            <article class="profile-creative wow slideInLeft">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="static/images/team-1-270x273.jpg" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                <h5 class="profile-creative-title"><a href="#">Nathalie Porter</a></h5>
                <p class="profile-creative-position">Fondateur, Courtier</p>
                <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
                </div>
                <p>Mme Porter a fondé notre société en 1989 avec la vision d'aider les clients et les résidents des États-Unis à trouver, acheter ou louer facilement des biens immobiliers dans les 50 États.</p>
                </div>
            </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
            <!-- Profile Creative-->
            <article class="profile-creative wow slideInLeft" data-wow-delay=".2s">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="static/images/team-2-270x273.jpg" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                <h5 class="profile-creative-title"><a href="#">John Thompson</a></h5>
                <p class="profile-creative-position">Associé aux ventes</p>
                <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
                </div>
                <p>John travaille dans les ventes et le marketing depuis 15 ans. Il possède une excellente connaissance du marché local tant résidentiel que commercial.</p>
                </div>
            </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
            <!-- Profile Creative-->
            <article class="profile-creative wow slideInLeft">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="static/images/team-3-270x273.jpg" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                <h5 class="profile-creative-title"><a href="#">Brian Payne</a></h5>
                <p class="profile-creative-position">Agent immobilier</p>
                <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
                </div>
                <p>Brian est non seulement un agent immobilier agréé, mais il détient également les licences de producteur de titres et d'hypothèques, ce qui fait de lui un expert immobilier très compétent.</p>
                </div>
            </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
            <!-- Profile Creative-->
            <article class="profile-creative wow slideInLeft" data-wow-delay=".2s">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="static/images/team-4-270x273.jpg" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                <h5 class="profile-creative-title"><a href="#">Abdul Razak</a></h5>
                <p class="profile-creative-position">Product Owner</p>
                <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">0707007560</a></div>
                </div>
                <p>L’objectif de Abdul est de fournir aux clients le plus haut niveau d’expertise marketing et de service client pour les aider à atteindre leurs objectifs immobiliers les plus élevés.</p>
                </div>
            </article>
            </div>
        </div>
        </div>
    </section>
{% endblock %}