{% extends 'base.html' %}

{% block enfant %}
<section class="section novi-background breadcrumbs-custom bg-image context-dark bgajout">
    <div class="breadcrumbs-custom-inner">
      <div class="container breadcrumbs-custom-container">
        <div class="breadcrumbs-custom-main">
          <h6 class="breadcrumbs-custom-subtitle title-decorated">Achat de Maison</h6>
          <h2 class="text-uppercase breadcrumbs-custom-title">Achat de Maison</h2>
        </div>
        <ul class="breadcrumbs-custom-path">
          <li><a href="index.html">Home</a></li>
          <li class="active">Achat de Maison</li>
        </ul>
      </div>
    </div>
</section>
<div class="views-exposed">

    <form action="/fr/recherche-immobilier" method="get" id="views-exposed-form-recherche-immobilier-page-1" accept-charset="UTF-8">
        <div class="form--inline form-inline clearfix">
            <div class="form-item js-form-item form-type-select js-form-type-select form-item-typeoffre js-form-item-typeoffre form-group">
                <label for="edit-typeoffre" class="control-label">Recherche</label>
            
            
            <div class="select-wrapper"><select data-drupal-selector="edit-typeoffre" class="form-select form-control" id="edit-typeoffre" name="typeoffre"><option value="All" selected="selected">- Tout -</option><option value="1">Acheter</option><option value="535">Location saisonnière</option><option value="3">Louer</option><option value="536">Programme</option><option value="2">Vendre</option></select></div>
        
        
        
        </div>
      <div class="form-item js-form-item form-type-select js-form-type-select form-item-field-nbre-pieces js-form-item-field-nbre-pieces form-no-label form-group">
        
        
        <div class="select-wrapper"><select data-drupal-selector="edit-field-nbre-pieces" class="form-select form-control" id="edit-field-nbre-pieces" name="field_nbre_pieces"><option value="All" selected="selected">- Tout -</option><option value="560">10 pièces</option><option value="561">11 pièces</option><option value="562">12 pièces</option><option value="563">13 pièces</option><option value="564">14 pièces</option><option value="565">15 pièces et plus</option><option value="510">2 pièces</option><option value="511">3 pièces</option><option value="512">4 pièces</option><option value="559">5 pièces</option><option value="555">6 pièces</option><option value="556">7 pièces</option><option value="557">8 pièces</option><option value="558">9 pièces</option><option value="509">Studio</option></select></div>
      
        
        
        </div>
      <div data-drupal-selector="edit-actions" class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions"><button data-drupal-selector="edit-submit-recherche-immobilier" class="button js-form-submit form-submit btn-default btn" type="submit" id="edit-submit-recherche-immobilier" value="OK" name="">OK</button></div>
      
      </div>
      
      </form>
</div>
<section class="section novi-background section-md text-center">
    <div class="container">
        <h3 class="text-uppercase font-weight-bold wow-outer"><span class="wow slideInDown">Résidences disponibles</span></h3>
        <div class="row row-lg-50 row-35 offset-top-2">
            <div class="col-md-3 wow-outer">
                <!-- Post Modern-->
                <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-1-571x353.jpg" alt="" width="571" height="353"/></a>
                    <h4 class="post-modern-title"><a class="post-modern-title" href="#">Black-Market, Adjame, Abidjan</a></h4>
                    <ul class="post-modern-meta">
                    <li><a class="button-winona" href="#">1500000000fcfa</a></li>
                    <li>300 Metres carre</li>
                    <li>3 Pieces</li>
                    </ul>
                    <p>Une propriété résidentielle confortable située dans un quartier calme et chaleureux.</p>
                </article>
            </div>
            <div class="col-md-3 wow-outer">
                <!-- Post Modern-->
                <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-2-571x353.jpg" alt="" width="571" height="353"/></a>
                    <h4 class="post-modern-title"><a class="post-modern-title" href="#">Remblais, Koumassi, Abidjan</a></h4>
                    <ul class="post-modern-meta">
                    <li><a class="button-winona" href="#">1300000000fcfa</a></li>
                    <li>400 Metres carre</li>
                    <li>2 Pieces</li>
                    </ul>
                    <p>Parfait pour ceux qui aiment la vie en ville et à la campagne.</p>
                </article>
            </div>
            <div class="col-md-3 wow-outer">
                <!-- Post Modern-->
                <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-3-571x353.jpg" alt="" width="571" height="353"/></a>
                    <h4 class="post-modern-title"><a class="post-modern-title" href="#">Kennedy, Abobo, Abidjan</a></h4>
                    <ul class="post-modern-meta">
                    <li><a class="button-winona" href="#">1800000000fcfa</a></li>
                    <li>500 Metres carre</li>
                    <li>4 Pieces</li>
                    </ul>
                    <p>Située à 5 minutes du centre-ville, cette propriété est idéale pour tout le monde.</p>
                </article>
            </div>
            <div class="col-md-3 wow-outer">
            <!-- Post Modern-->
                <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-4-571x353.jpg" alt="" width="571" height="353"/></a>
                    <h4 class="post-modern-title"><a class="post-modern-title" href="#">220 logements, Adjame, Abidjan</a></h4>
                    <ul class="post-modern-meta">
                    <li><a class="button-winona" href="#">2700000000fcfa</a></li>
                    <li>900 Metres carre</li>
                    <li>2 Pieces</li>
                    </ul>
                    <p>Une demeure de luxe pour ceux qui apprécient les commodités haut de gamme.</p>
                </article>
            </div>
            <div class="col-md-3 wow-outer">
                <!-- Post Modern-->
                <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-1-571x353.jpg" alt="" width="571" height="353"/></a>
                    <h4 class="post-modern-title"><a class="post-modern-title" href="#">Black-Market, Adjame, Abidjan</a></h4>
                    <ul class="post-modern-meta">
                    <li><a class="button-winona" href="#">1500000000fcfa</a></li>
                    <li>300 Metres carre</li>
                    <li>3 Pieces</li>
                    </ul>
                    <p>Une propriété résidentielle confortable située dans un quartier calme et chaleureux.</p>
                </article>
            </div>
            <div class="col-md-3 wow-outer">
                <!-- Post Modern-->
                <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-2-571x353.jpg" alt="" width="571" height="353"/></a>
                    <h4 class="post-modern-title"><a class="post-modern-title" href="#">Remblais, Koumassi, Abidjan</a></h4>
                    <ul class="post-modern-meta">
                    <li><a class="button-winona" href="#">1300000000fcfa</a></li>
                    <li>400 Metres carre</li>
                    <li>2 Pieces</li>
                    </ul>
                    <p>Parfait pour ceux qui aiment la vie en ville et à la campagne.</p>
                </article>
            </div>
            <div class="col-md-3 wow-outer">
                <!-- Post Modern-->
                <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-3-571x353.jpg" alt="" width="571" height="353"/></a>
                    <h4 class="post-modern-title"><a class="post-modern-title" href="#">Kennedy, Abobo, Abidjan</a></h4>
                    <ul class="post-modern-meta">
                    <li><a class="button-winona" href="#">1800000000fcfa</a></li>
                    <li>500 Metres carre</li>
                    <li>4 Pieces</li>
                    </ul>
                    <p>Située à 5 minutes du centre-ville, cette propriété est idéale pour tout le monde.</p>
                </article>
            </div>
            <div class="col-md-3 wow-outer">
            <!-- Post Modern-->
                <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-4-571x353.jpg" alt="" width="571" height="353"/></a>
                    <h4 class="post-modern-title"><a class="post-modern-title" href="#">Derriere-rails, Abobo, Abidjan</a></h4>
                    <ul class="post-modern-meta">
                    <li><a class="button-winona" href="#">2700000000fcfa</a></li>
                    <li>900 Metres carre</li>
                    <li>2 Pieces</li>
                    </ul>
                    <p>Une demeure de luxe pour ceux qui apprécient les commodités haut de gamme.</p>
                </article>
            </div>
            <div class="col-md-12 wow-outer"><a class="button button-primary button-winona button-md" href="#">Voir plus de propriétés</a></div>
        </div>
    </div>
</section>
{% endblock %}