{% extends 'base.html' %}

{% block enfant %}
<section class="section novi-background breadcrumbs-custom bg-image context-dark bgajout">
    <div class="breadcrumbs-custom-inner">
      <div class="container breadcrumbs-custom-container">
        <div class="breadcrumbs-custom-main">
          <h6 class="breadcrumbs-custom-subtitle title-decorated">Location Maison</h6>
          <h2 class="text-uppercase breadcrumbs-custom-title">Location Maison</h2>
        </div>
        <ul class="breadcrumbs-custom-path">
          <li><a href="index.html">Home</a></li>
          <li class="active">Location Maison</li>
        </ul>
      </div>
    </div>
</section>
<div class="views-exposed sticky-top bg-dark">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="">
                <div class="d-flex justify-content-between">
                    <input class="form-input" id="contact-first-name" type="text" name="Ville" placeholder="ville"> 
                    <input class="form-input" id="contact-first-name" type="text" name="Ville" placeholder="Commune" >
                    <input class="form-input" id="contact-first-name" type="text" name="Ville" placeholder="Nombre_de_pieces" >
                    <input class="form-input" id="contact-first-name" type="text" name="Ville" placeholder="Nombre_de_pieces" >
                    <input class="form-input" id="contact-first-name" type="INT" name="Ville" placeholder="Prix_min" >
                    <input class="form-input" id="contact-first-name" type="INT" name="Ville" placeholder="Prix_max" >
                </div>
                <!-- <div class="group group-middle">
                    <div class="wow-outer"> 
                        <button class="button button-primary button-winona wow slideInRight" type="submit">Confirmer</button>
                    </div>
                </div> -->
            </form>
        </header>
    </div>
</div>
<section class="section novi-background section-md text-center">
  <div class="container">
      <h3 class="text-uppercase font-weight-bold wow-outer"><span class="wow slideInDown">Résidences disponibles</span></h3>
      <div class="row row-lg-50 row-35 offset-top-2">
          <div class="col-md-3 wow-outer">
              <!-- Post Modern-->
              <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-1-571x353.jpg" alt="" width="571" height="353"/></a>
                  <h4 class="post-modern-title"><a class="post-modern-title" href="#">Black-Market, Adjame, Abidjan</a></h4>
                  <ul class="post-modern-meta">
                  <li><a class="button-winona" href="#">150000000fcfa/Mois</a></li>
                  <li>300 Metres carre</li>
                  <li>3 Pieces</li>
                  </ul>
                  <p>Une propriété résidentielle confortable située dans un quartier calme et chaleureux.</p>
              </article>
          </div>
          <div class="col-md-3 wow-outer">
              <!-- Post Modern-->
              <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-2-571x353.jpg" alt="" width="571" height="353"/></a>
                  <h4 class="post-modern-title"><a class="post-modern-title" href="#">Remblais, Koumassi, Abidjan</a></h4>
                  <ul class="post-modern-meta">
                  <li><a class="button-winona" href="#">130000000fcfa/Mois</a></li>
                  <li>400 Metres carre</li>
                  <li>2 Pieces</li>
                  </ul>
                  <p>Parfait pour ceux qui aiment la vie en ville et à la campagne.</p>
              </article>
          </div>
          <div class="col-md-3 wow-outer">
              <!-- Post Modern-->
              <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-3-571x353.jpg" alt="" width="571" height="353"/></a>
                  <h4 class="post-modern-title"><a class="post-modern-title" href="#">Kennedy, Abobo, Abidjan</a></h4>
                  <ul class="post-modern-meta">
                  <li><a class="button-winona" href="#">180000000fcfa/Mois</a></li>
                  <li>500 Metres carre</li>
                  <li>4 Pieces</li>
                  </ul>
                  <p>Située à 5 minutes du centre-ville, cette propriété est idéale pour tout le monde.</p>
              </article>
          </div>
          <div class="col-md-3 wow-outer">
          <!-- Post Modern-->
              <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-4-571x353.jpg" alt="" width="571" height="353"/></a>
                  <h4 class="post-modern-title"><a class="post-modern-title" href="#">220 logements, Adjame, Abidjan</a></h4>
                  <ul class="post-modern-meta">
                  <li><a class="button-winona" href="#">270000000fcfa/Mois</a></li>
                  <li>900 Metres carre</li>
                  <li>2 Pieces</li>
                  </ul>
                  <p>Une demeure de luxe pour ceux qui apprécient les commodités haut de gamme.</p>
              </article>
          </div>
          <div class="col-md-3 wow-outer">
              <!-- Post Modern-->
              <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-1-571x353.jpg" alt="" width="571" height="353"/></a>
                  <h4 class="post-modern-title"><a class="post-modern-title" href="#">Black-Market, Adjame, Abidjan</a></h4>
                  <ul class="post-modern-meta">
                  <li><a class="button-winona" href="#">150000000fcfa/Mois</a></li>
                  <li>300 Metres carre</li>
                  <li>3 Pieces</li>
                  </ul>
                  <p>Une propriété résidentielle confortable située dans un quartier calme et chaleureux.</p>
              </article>
          </div>
          <div class="col-md-3 wow-outer">
              <!-- Post Modern-->
              <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-2-571x353.jpg" alt="" width="571" height="353"/></a>
                  <h4 class="post-modern-title"><a class="post-modern-title" href="#">Remblais, Koumassi, Abidjan</a></h4>
                  <ul class="post-modern-meta">
                  <li><a class="button-winona" href="#">130000000fcfa/Mois</a></li>
                  <li>400 Metres carre</li>
                  <li>2 Pieces</li>
                  </ul>
                  <p>Parfait pour ceux qui aiment la vie en ville et à la campagne.</p>
              </article>
          </div>
          <div class="col-md-3 wow-outer">
              <!-- Post Modern-->
              <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-3-571x353.jpg" alt="" width="571" height="353"/></a>
                  <h4 class="post-modern-title"><a class="post-modern-title" href="#">Kennedy, Abobo, Abidjan</a></h4>
                  <ul class="post-modern-meta">
                  <li><a class="button-winona" href="#">180000000fcfa/Mois</a></li>
                  <li>500 Metres carre</li>
                  <li>4 Pieces</li>
                  </ul>
                  <p>Située à 5 minutes du centre-ville, cette propriété est idéale pour tout le monde.</p>
              </article>
          </div>
          <div class="col-md-3 wow-outer">
          <!-- Post Modern-->
              <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-4-571x353.jpg" alt="" width="571" height="353"/></a>
                  <h4 class="post-modern-title"><a class="post-modern-title" href="#">Derriere-rails, Abobo, Abidjan</a></h4>
                  <ul class="post-modern-meta">
                  <li><a class="button-winona" href="#">270000000fcfa/Mois</a></li>
                  <li>900 Metres carre</li>
                  <li>2 Pieces</li>
                  </ul>
                  <p>Une demeure de luxe pour ceux qui apprécient les commodités haut de gamme.</p>
              </article>
          </div>
          <div class="col-md-12 wow-outer"><a class="button button-primary button-winona button-md" href="#">Voir plus de propriétés</a></div>
      </div>
  </div>
</section>
{% endblock %}