{% extends 'base.html' %}

{% block enfant %}
<div class="preloader">
  <div class="preloader-logo"><img src="static/images/logo-default-151x44.png" alt="" width="151" height="44" srcset="images/logo-default-151x44.png 2x"/>
  </div>
  <div class="preloader-body">
    <div id="loadingProgressG">
      <div class="loadingProgressG" id="loadingProgressG_1"></div>
    </div>
  </div>
</div>
<section class="section novi-background breadcrumbs-custom bg-image context-dark bgajout">
    <div class="breadcrumbs-custom-inner">
      <div class="container breadcrumbs-custom-container">
        <div class="breadcrumbs-custom-main">
          <h6 class="breadcrumbs-custom-subtitle title-decorated">Location Maison</h6>
          <h2 class="text-uppercase breadcrumbs-custom-title">Location Maison</h2>
        </div>
        <ul class="breadcrumbs-custom-path">
          <li><a href="index.html">Home</a></li>
          <li class="active">Location Maison</li>
        </ul>
      </div>
    </div>
</section>
{% endblock %}