{% extends 'base.html' %}

{% block enfant %}
<section class="section novi-background breadcrumbs-custom bg-image context-dark bgajout">
    <div class="breadcrumbs-custom-inner">
      <div class="container breadcrumbs-custom-container">
        <div class="breadcrumbs-custom-main">
          <h6 class="breadcrumbs-custom-subtitle title-decorated">Service</h6>
          <h2 class="text-uppercase breadcrumbs-custom-title">Service</h2>
        </div>
        <ul class="breadcrumbs-custom-path">
          <li><a href="index.html">Home</a></li>
          <li class="active">Service</li>
        </ul>
      </div>
    </div>
</section>
{% endblock %}