{% extends 'base.html' %}

{% block enfant %}
<section class="section novi-background breadcrumbs-custom bg-image context-dark bgajout">
    <div class="breadcrumbs-custom-inner">
      <div class="container breadcrumbs-custom-container">
        <div class="breadcrumbs-custom-main">
          <h6 class="breadcrumbs-custom-subtitle title-decorated">Service</h6>
          <h2 class="text-uppercase breadcrumbs-custom-title">Service</h2>
        </div>
        <ul class="breadcrumbs-custom-path">
          <li><a href="index.html">Home</a></li>
          <li class="active">Service</li>
        </ul>
      </div>
    </div>
</section>

<!-- Section ajouté au corps-->
		<!-- Highlights -->
    <section class="wrapper">
      <div class="inner">
        <header class="special">
          <h2>Nos différents services</h2>
          <p>MaMaisonMaVie propose différents services pour facilité encore plus la vie, car votre bien etre est notre priorité.</p>
        </header>
        <div class="highlights">
          <section>
            <div class="content">
              <header>
                <a href="#" class="icon fa-vcard-o"></a>
                <h3>Plomberie</h3>
              </header>
              
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="#" class="icon fa-line-chart"></a>
                <h3>Electricité</h3>
              </header>
              <p></p>
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="#" class="icon fa-floppy-o"></a>
                <h3>Depannage Entretien</h3>
              </header>
              <p></p>
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="#" class="icon fa-files-o"></a>
                <h3>Couverture Zinguerie</h3>
              </header>
              <p></p>
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="#" class="icon fa-paper-plane-o"></a>
                <h3>Maconnerie</h3>
              </header>
              <p></p>
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="#" class="icon fa-qrcode"></a>
                <h3>Peinture</h3>
              </header>
              <p></p>
            </div>
          </section>
        </div>
        <div class="contactservice">
          <div class="btn-groups">
            <a href="{{ url_for('contacte') }}" >
              <button type="button" class="buy-now-btn">
                <i class="fas fa-wallet">Nous Contacter</i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>


{% endblock %}