{% extends 'base.html' %}
{% block enfant %}
<section class="section novi-background bg-gray-100">
    <div class="range justify-content-xl-between">
        <div class="cell-xl-6 align-self-center container">
            <div class="row">
            <div class="col-lg-9 cell-inner">
                <div class="section-lg">
                <h3 class="text-uppercase wow-outer"><span class="wow slideInDown">Nous Contacter</span></h3>
                <!-- RD Mailform-->
                <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="">
                    <div class="row row-10">
                        <div class="col-md-6 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-first-name">Ville</label>
                                <input class="form-input" id="contact-first-name" type="text" name="Ville" data-constraints="@Required" required>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-last-Commune">Commune</label>
                                <input class="form-input" id="contact-last-Commune" type="text" name="Commune" data-constraints="@Required" required>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-last-Quartier">Quartier</label>
                                <input class="form-input" id="contact-last-Quartier" type="text" name="Quartier" data-constraints="@Required" required>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-last-carre">metre carre</label>
                                <input class="form-input" id="contact-last-carre" type="text" name="metre_carre" data-constraints="@Required" required>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-pieces">Nombre de pieces</label>
                                <input class="form-input" id="contact-pieces" type="number" name="Nombre_de_pieces" min="1" data-constraints="@Numeric" required>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-chambres">Nombre de chambres</label>
                                <input class="form-input" id="contact-chambres" type="number" name="Nombre_de_chambres" min="1" data-constraints="@Numeric" required>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-Commune">nombre salles de bain</label>
                                <input class="form-input" id="contact-Commune" type="number" name="Nombre_de_salles_de_bain" min="1" data-constraints="@Numeric" required>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-mensuel">Prix mensuel</label>
                                <input class="form-input" id="contact-mensuel" type="number" name="Prix_mensuel" min="1" data-constraints="@Numeric" required>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer cs">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-Caution">Caution</label>
                                <input class="form-input" id="contact-Caution" type="number" name="Caution" data-constraints="@Numeric" required>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer cs">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-Avance">Avance</label>
                                <input class="form-input" id="contact-Avance" type="number" name="Avance" data-constraints="@Numeric" required>
                            </div>
                        </div>
                        <div class="col-12 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-message">Descriptions</label>
                                <textarea class="form-input" id="contact-message" name="message" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-maison">Type de maison</label>
                                <input class="form-input" id="contact-maison" type="text" name="Type_de_maison" data-constraints="@Required" required>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-Statut-maison">Statut maison</label>
                                <select class="form-input" id="contact-Statut-maison" name="Statut_maison" data-constraints="@Required" required>
                                    <option value="Libre">Libre</option>
                                    <option value="Occuppée">Occuppée</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label class="form-label-outside" for="contact-GPS">GPS(Latitude,Longitude)</label>
                                <input class="form-input" id="contact-GPS" type="text" name="GPS" data-constraints="@Required" required >
                                <span>exmple voire le lien:<a href="https://www.youtube.com/watch?v=DbNmZLvKfGM">video</a></span>
                            </div>
                        </div>
                        <div class="col-md-6 wow-outer">
                            <div class="form-wrap wow fadeSlideInUp">
                                <label for="myfiles">Choisir des fichiers (jusqu'à 10) de taille571x353:</label>
                                <input type="file" class="form-control" id="myfiles" name="myfiles[]" multiple required><br><br>
                            </div>
                        </div>
                        <div id="image-preview">
                            <label>Aperçu des images:</label>
                            <div id="preview-container" class="imge"></div>
                        </div>
                        <div class="group group-middle">
                            <div class="wow-outer"> 
                                <button class="button button-primary button-winona wow slideInRight" type="submit">mettre en location</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        <div class="cell-xl-5 height-fill wow fadeIn">
            <iframe id="map-frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3870.5055345944324!2d-4.0135569509370415!3d5.351081754633922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1eb36f1227631%3A0x31a7f0c1211f3288!2sMTN%20ACADEMY!5e0!3m2!1sfr!2sci!4v1705311082806!5m2!1sfr!2sci" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
{% endblock %}
