{% extends 'base.html' %}

{% block enfant %}
    <!-- Breadcrumbs -->
    <section class="section novi-background breadcrumbs-custom bg-image context-dark" style="background-image: url(images/breadcrumbs-image-1.jpg);">
        <div class="breadcrumbs-custom-inner">
        <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
            <h6 class="breadcrumbs-custom-subtitle title-decorated">A Propos</h6>
            <h2 class="text-uppercase breadcrumbs-custom-title">A Propos</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active">A Propos</li>
            </ul>
        </div>
        </div>
    </section>
    <!-- Working at CaseCraft-->
    <section class="section novi-background section-lg">
        <div class="container">
        <div class="row row-50 justify-content-center justify-content-lg-between flex-lg-row-reverse">
            <div class="col-md-10 col-lg-6 col-xl-5">
            <h3 class="text-uppercase">Qui sommes nous</h3>
            <p class="about-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru eiusmod tempor incididunt ut labore et.</p><a class="button button-lg button-primary button-winona" href="about-us.html">View properties</a>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-6"><img class="img-responsive" src="images/careers-1-570x388.jpg" alt="" width="570" height="388"/>
            </div>
        </div>
        </div>
    </section>
    <!-- Advantages and Achievements-->
    <section class="section novi-background section-md text-center bg-gray-100">
        <div class="container">
        <h3 class="text-uppercase wow-outer"><span class="wow slideInUp">Pourquoi nous choisir?</span></h3>
        <p class="wow-outer"><span class="text-width-1 wow slideInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></p>
        <div class="row row-50">
            <div class="col-6 col-md-3 wow-outer">
            <!-- Counter Minimal-->
            <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-users2"></div>
                <div class="counter-minimal-main">
                <div class="counter">12</div>
                </div>
                <h5 class="counter-minimal-title">National Partners</h5>
            </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
            <!-- Counter Minimal-->
            <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-home-icon3"></div>
                <div class="counter-minimal-main">
                <div class="counter">238</div>
                </div>
                <h5 class="counter-minimal-title">Propriétés</h5>
            </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
            <!-- Counter Minimal-->
            <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-star"></div>
                <div class="counter-minimal-main">
                <div class="counter">19</div>
                </div>
                <h5 class="counter-minimal-title">Years of Experience</h5>
            </article>
            </div>
            <div class="col-6 col-md-3 wow-outer">
            <!-- Counter Minimal-->
            <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon box-chloe__icon novi-icon linearicons-apartment"></div>
                <div class="counter-minimal-main">
                <div class="counter">54</div>
                </div>
                <h5 class="counter-minimal-title">Qualified Brokers</h5>
            </article>
            </div>
        </div>
        </div>
    </section>
    <section class="section novi-background section-lg text-center">
        <div class="container">
        <h3 class="text-uppercase wow-outer"><span class="wow slideInUp">Notre Equipe</span></h3>
        <div class="row row-50 row-xxl-70 justify-content-center justify-content-lg-start">
            <div class="col-md-10 col-lg-6 wow-outer">
            <!-- Profile Creative-->
            <article class="profile-creative wow slideInLeft">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="images/team-1-270x273.jpg" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                <h5 class="profile-creative-title"><a href="#">Nathalie Porter</a></h5>
                <p class="profile-creative-position">Founder, Broker</p>
                <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
                </div>
                <p>Ms. Porter founded our company in 1989 with a vision to help guests and residents of the USA to easily find and buy or rent real estate in all 50 states.</p>
                </div>
            </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
            <!-- Profile Creative-->
            <article class="profile-creative wow slideInLeft" data-wow-delay=".2s">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="images/team-2-270x273.jpg" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                <h5 class="profile-creative-title"><a href="#">John Thompson</a></h5>
                <p class="profile-creative-position">Sales Associate</p>
                <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
                </div>
                <p>John has been in sales and marketing for the past 15 years. He has excellent knowledge about the local market both residential and commercial.</p>
                </div>
            </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
            <!-- Profile Creative-->
            <article class="profile-creative wow slideInLeft">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="images/team-3-270x273.jpg" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                <h5 class="profile-creative-title"><a href="#">Brian Payne</a></h5>
                <p class="profile-creative-position">Realtor</p>
                <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
                </div>
                <p>Brian is not only a Licensed Realtor but also holds the Title Producers and Mortgage Licenses, which makes him a very knowledgeable real estate expert.</p>
                </div>
            </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
            <!-- Profile Creative-->
            <article class="profile-creative wow slideInLeft" data-wow-delay=".2s">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="images/team-4-270x273.jpg" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                <h5 class="profile-creative-title"><a href="#">Marie Fernandez</a></h5>
                <p class="profile-creative-position">Broker</p>
                <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">1-800-1324-567</a></div>
                </div>
                <p>Marie’s goal is to provide clients with the highest level of marketing expertise and customer service to help them reach their uppermost real estate goals.</p>
                </div>
            </article>
            </div>
        </div>
        </div>
    </section>
{% endblock %}