<!DOCTYPE html>
<html class="wide wow-animation" lang="fr">
  <head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" id="main-styles-link">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;} </style>
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-logo"><img src="{{ url_for('static', filename='images/logo-default-151x44.png') }}" alt="" width="151" height="44" srcset="{{ url_for('static', filename='images/logo-default-151x44.png') }}"/>
      </div>
      <div class="preloader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
      </div>
    </div>
    <div class="page">
    <!-- Page Header-->

    {% include 'partials/header.html' %}
    <!-- end Page Header-->

    <!-- main -->
    {% block enfant %}{% endblock %}
    <!-- end main -->
    
    <!-- Page footer-->

    {% include 'partials/footer.html' %}

    <!-- Page footer-->
    </div>
    <!-- Global Mailform Output-->
    <!-- Javascript-->
    <script src="{{ url_for('static', filename='js/core.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- <script src="static/js/filtre.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
          var fileInput = document.getElementById('myfiles');
          var previewContainer = document.getElementById('preview-container');
  
          fileInput.addEventListener('change', function () {
              previewContainer.innerHTML = ''; // Effacer le contenu précédent
  
              var files = fileInput.files;
              for (var i = 0; i < files.length; i++) {
                  var file = files[i];
                  var reader = new FileReader();
  
                  reader.onload = function (e) {
                      var imgElement = document.createElement('img');
                      imgElement.src = e.target.result;
                      imgElement.className = 'preview-image'; // Ajouter la classe
                      previewContainer.appendChild(imgElement);
                  };
  
                  reader.readAsDataURL(file);
              }
          });
      });
  </script>
  </body>
</html>

