{% extends 'base.html' %}

  {% block enfant %}
  
    <section class="section swiper-container swiper-slider swiper-slider-minimal" data-loop="true" data-slide-effect="fade" data-autoplay="4759" data-simulate-touch="true">
        <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide_video" data-slide-bg="static/images/news1.jpg">
            <div class="container">
            <div class="jumbotron-classic-content">
                <div class="wow-outer">
                <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white">Divers offres</div>
                </div>
                <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s">Propriétés</span></h1>
                <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s">c</span></p>
                <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="{{ url_for('achete_maison') }}" data-wow-delay=".4s">Voir Propriétés</a></div>
            </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="static/images/news2.jpg">
            <div class="container">
            <div class="jumbotron-classic-content">
                <div class="wow-outer">
                <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white">Facilité</div>
                </div>
                <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s">Location & Vente</span></h1>
                <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s">Avec l’aide de nos services et solutions de gestion immobilière, vous pouvez louer ou vendre n’importe quelle maison ou appartement.</span></p>
                <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s">Voir les propriétés</a></div>
            </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="static/images/news3.jpg">
            <div class="container">
            <div class="jumbotron-classic-content">
                <div class="wow-outer">
                <div class="title-docor-text font-weight-bold title-decorated text-uppercase wow slideInLeft text-white">Des années d'</div>
                </div>
                <h1 class="text-uppercase text-white font-weight-bold wow-outer"><span class="wow slideInDown" data-wow-delay=".2s">Expérience</span></h1>
                <p class="text-white wow-outer"><span class="wow slideInDown" data-wow-delay=".35s">Fondée en 2023, notre entreprise est une équipe d'experts reconnus en matière de gestion immobilière et d'immobilier, toujours prêts à vous aider.</span></p>
                <div class="wow-outer button-outer"><a class="button button-md button-primary button-winona wow slideInDown" href="#" data-wow-delay=".4s">View properties</a></div>
            </div>
            </div>
        </div>
        </div>
        <div class="swiper-pagination-outer container">
        <div class="swiper-pagination swiper-pagination-modern swiper-pagination-marked" data-index-bullet="true"></div>
        </div>
    </section>
    <section class="section novi-background section-md text-center">
        <div class="container">
            <h3 class="text-uppercase font-weight-bold wow-outer"><span class="wow slideInDown">Propriétés populaires</span></h3>
            <div class="row row-lg-50 row-35 offset-top-2">
                <div class="col-md-6 wow-outer">
                <!-- Post Modern-->
                <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-1-571x353.jpg" alt="" width="571" height="353"/></a>
                    <h4 class="post-modern-title"><a class="post-modern-title" href="#">Abidjan-Cocody</a></h4>
                    <ul class="post-modern-meta">
                    <li><a class="button-winona" href="#">1500000fcfa/mois</a></li>
                    <li>300 Metre carre</li>
                    <li>4 pieces</li>
                    </ul>
                    <p>Une residence tres confortable avec un bon espace</p>
                </article>
                </div>
                <div class="col-md-6 wow-outer">
                <!-- Post Modern-->
                <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-2-571x353.jpg" alt="" width="571" height="353"/></a>
                    <h4 class="post-modern-title"><a class="post-modern-title" href="#">Assinie</a></h4>
                    <ul class="post-modern-meta">
                    <li><a class="button-winona" href="#">1300000fcfa/Mois</a></li>
                    <li>400 Metre carre</li>
                    <li>2 pieces</li>
                    </ul>
                    <p>Parfait pour ceux qui aiment la vie en ville et à la campagne.</p>
                </article>
                </div>
                <div class="col-md-6 wow-outer">
                <!-- Post Modern-->
                <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-3-571x353.jpg" alt="" width="571" height="353"/></a>
                    <h4 class="post-modern-title"><a class="post-modern-title" href="#">Belle-ville, Anyama, Abidjan</a></h4>
                    <ul class="post-modern-meta">
                    <li><a class="button-winona" href="#">1800000fcfa/Mois</a></li>
                    <li>500 Metre carre</li>
                    <li>4 pieces</li>
                    </ul>
                    <p>Située à 5 minutes du centre-ville, cette propriété est idéale pour tout le monde.</p>
                </article>
                </div>
                <div class="col-md-6 wow-outer">
                <!-- Post Modern-->
                <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="#"><img src="static/images/grid-blog-4-571x353.jpg" alt="" width="571" height="353"/></a>
                    <h4 class="post-modern-title"><a class="post-modern-title" href="#">Angre-CHU, Cocody, Abidjan</a></h4>
                    <ul class="post-modern-meta">
                    <li><a class="button-winona" href="#">2700000fcfa/Mois</a></li>
                    <li>900 Metre carre</li>
                    <li>2 pieces</li>
                    </ul>
                    <p>Une demeure de luxe pour ceux qui apprécient les commodités haut de gamme.</p>
                </article>
                </div>
                <div class="col-md-12 wow-outer"><a class="button button-primary button-winona button-md" href="{{ url_for('achete_maison') }}">Voir plus de Propriétés</a></div>
            </div>
        </div>
    </section>
    <section class="section novi-background section-lg bg-gray-100">
        <div class="container">
        <div class="row row-30">
            <div class="col-sm-6 col-lg-4 wow-outer">
            <!-- Box Minimal-->
            <article class="box-minimal">
                <div class="box-chloe__icon novi-icon linearicons-user wow fadeIn"></div>
                <div class="box-minimal-main wow-outer">
                <h4 class="box-minimal-title wow slideInDown">Employés qualifiés</h4>
                <p class="wow fadeInUpSmall">Notre équipe est composée de plus de 20 courtiers immobiliers et gestionnaires immobiliers qualifiés et expérimentés prêts à vous aider.</p>
                </div>
            </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
            <!-- Box Minimal-->
            <article class="box-minimal">
                <div class="box-chloe__icon novi-icon linearicons-bubble-text wow fadeIn" data-wow-delay=".1s"></div>
                <div class="box-minimal-main wow-outer">
                <h4 class="box-minimal-title wow slideInDown" data-wow-delay=".1s">Consultations gratuites</h4>
                <p class="wow fadeInUpSmall" data-wow-delay=".1s">Notre rencontre avec un client commence toujours par une consultation gratuite pour savoir quel type de propriété il recherche.</p>
                </div>
            </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
            <!-- Box Minimal-->
            <article class="box-minimal">
                <div class="box-chloe__icon novi-icon linearicons-star wow fadeIn" data-wow-delay=".2s"></div>
                <div class="box-minimal-main wow-outer">
                <h4 class="box-minimal-title wow slideInDown" data-wow-delay=".2s">100% Garanti</h4>
                <p class="wow fadeInUpSmall" data-wow-delay=".2s">Tous les résultats que vous obtenez de nos agents immobiliers sont garantis à 100 % pour vous offrir le meilleur choix de propriétés partout en Cote d'Ivoire.</p>
                </div>
            </article>
            </div>
        </div>
        </div>
    </section>
    <!-- Services-->
    <section class="section novi-background section-lg text-center">
        <div class="container">
        <h3 class="text-uppercase">Catégories de propriétés résidentielles</h3>
        <p><span class="text-width-1">Dans notre agence, nous travaillons avec différents types de biens immobiliers résidentiels. Vous pouvez en savoir plus sur nos propriétés en parcourant notre site Internet.</span></p>
        <div class="row row-35 row-xxl-70 offset-top-2">
            <div class="col-sm-6 col-lg-3">
            <!-- Thumbnail Light-->
            <article class="thumbnail-light"><a class="thumbnail-light-media" href="#"><img class="thumbnail-light-image" src="static/images/service-thumbnail-1-270x300.jpg" alt="" width="270" height="300"/></a>
                <h4 class="thumbnail-light-title"><a href="#">Maisons unifamiliales</a></h4>
            </article>
            </div>
            <div class="col-sm-6 col-lg-3">
            <!-- Thumbnail Light-->
            <article class="thumbnail-light"><a class="thumbnail-light-media" href="#"><img class="thumbnail-light-image" src="static/images/service-thumbnail-2-270x300.jpg" alt="" width="270" height="300"/></a>
                <h4 class="thumbnail-light-title"><a href="#">Maisons de ville</a></h4>
            </article>
            </div>
            <div class="col-sm-6 col-lg-3">
            <!-- Thumbnail Light-->
            <article class="thumbnail-light"><a class="thumbnail-light-media" href="#"><img class="thumbnail-light-image" src="static/images/service-thumbnail-3-270x300.jpg" alt="" width="270" height="300"/></a>
                <h4 class="thumbnail-light-title"><a href="#">Maisons multifamiliales</a></h4>
            </article>
            </div>
            <div class="col-sm-6 col-lg-3">
            <!-- Thumbnail Light-->
            <article class="thumbnail-light"><a class="thumbnail-light-media" href="#"><img class="thumbnail-light-image" src="static/images/service-thumbnail-4-270x300.jpg" alt="" width="270" height="300"/></a>
                <h4 class="thumbnail-light-title"><a href="#">Copropriétés</a></h4>
            </article>
            </div>
            <div class="col-md-12 wow-outer"><a class="button button-primary button-winona button-md" href="{{ url_for('achete_maison') }}">Voir toutes les propriétés</a></div>
        </div>
        </div>
    </section>
    <section class="section novi-background section-lg text-center bg-gray-100">
        <div class="container">
        <h3 class="text-uppercase wow-outer"><span class="wow slideInUp">Notre Equipe</span></h3>
        <div class="row row-lg-50 row-35 row-xxl-70 justify-content-center justify-content-lg-start">
            <div class="col-md-10 col-lg-6 wow-outer">
            <!-- Profile Creative-->
            <article class="profile-creative wow slideInLeft">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="static/images/team-1-270x273.jpg" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                <h5 class="profile-creative-title"><a href="#">Soumaharo Aboubacar Sidiki</a></h5>
                <p class="profile-creative-position">Fondateur, Courtier</p>
                <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">+225 0556459723</a></div>
                </div>
                <p>Mme Porter a fondé notre société en 1989 avec la vision d'aider les clients et les résidents des États-Unis à trouver, acheter ou louer facilement des biens immobiliers dans les 50 États.</p>
                </div>
            </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
            <!-- Profile Creative-->
            <article class="profile-creative wow slideInLeft" data-wow-delay=".2s">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="static/images/team-2-270x273.jpg" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                <h5 class="profile-creative-title"><a href="#">Kouadio Kader</a></h5>
                <p class="profile-creative-position">Associé aux ventes</p>
                <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">+ 225 0709491528</a></div>
                </div>
                <p>John travaille dans les ventes et le marketing depuis 15 ans. Il possède une excellente connaissance du marché local tant résidentiel que commercial.</p>
                </div>
            </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
            <!-- Profile Creative-->
            <article class="profile-creative wow slideInLeft">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="static/images/team-3-270x273.jpg" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                <h5 class="profile-creative-title"><a href="#">Kra Adelphe</a></h5>
                <p class="profile-creative-position">Agent immobilier</p>
                <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">+225 0759934211</a></div>
                </div>
                <p>Brian est non seulement un agent immobilier agréé, mais il détient également les licences de producteur de titres et d'hypothèques, ce qui fait de lui un expert immobilier très compétent.</p>
                </div>
            </article>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer">
            <!-- Profile Creative-->
            <article class="profile-creative wow slideInLeft" data-wow-delay=".2s">
                <figure class="profile-creative-figure"><img class="profile-creative-image" src="static/images/team-4-270x273.jpg" alt="" width="270" height="273"/>
                </figure>
                <div class="profile-creative-main">
                <h5 class="profile-creative-title"><a href="#">Abdul Razak</a></h5>
                <p class="profile-creative-position">Product Owner</p>
                <div class="profile-creative-contacts">
                    <div class="object-inline"><span class="icon novi-icon icon-md mdi mdi-phone"></span><a href="tel:#">0707007560</a></div>
                </div>
                <p>L’objectif de Abdul est de fournir aux clients le plus haut niveau d’expertise marketing et de service client pour les aider à atteindre leurs objectifs immobiliers les plus élevés.</p>
                </div>
            </article>
            </div>
        </div>
        </div>
    </section>
    <!-- Best offer-->
    <section class="section novi-background section-1 bg-primary-darker text-center" style="background-image: url(static/images/bg-1-1920-455.jpg);">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-lg-7 col-xl-6">
            <h3 class="wow-outer"><span class="wow slideInDown text-uppercase">Meilleurs Offres</span></h3>
            <p class="wow-outer offset-top-4"><span class="wow slideInDown" data-wow-delay=".05s">Avec une variété de comptables disponibles dans notre entreprise, vous pouvez toujours en choisir un qui correspond aux besoins de votre entreprise.</span></p>
            <div class="wow-outer button-outer"><a class="button button-primary-white button-winona wow slideInDown" href="#" data-wow-delay=".1s">Voir plus</a></div>
            </div>
        </div>
        </div>
    </section>
    <section class="section novi-background section-lg text-center">
        <div class="container">
        <h3 class="wow-outer"><span class="wow slideInDown text-uppercase">Témoignages</span></h3>
        <!-- Owl Carousel-->
        <div class="owl-carousel wow fadeIn" data-items="1" data-md-items="2" data-lg-items="3" data-dots="true" data-nav="false" data-loop="true" data-autoplay="true" data-autoplay-speed="731" data-autoplay-timeout="4268" data-margin="30" data-stage-padding="0" data-mouse-drag="false">
            <blockquote class="quote-classic">
            <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src="static/images/testimonials-person-6-96x96.jpg" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                <cite class="quote-classic-cite">Albert Webb</cite>
                <p class="quote-classic-caption">Client régulier</p>
                </div>
            </div>
            <div class="quote-classic-text">
                <p>Je viens d'acheter un appartement à Abidjan-Cocody grâce à vous et vos courtiers. Tout s'est bien passé, le prix était tout à fait abordable et je suis sûr que j'utiliserai à nouveau vos services à l'avenir.</p>
            </div>
            </blockquote>
            <blockquote class="quote-classic">
            <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src="static/images/testimonials-person-1-96x96.jpg" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                <cite class="quote-classic-cite">Kelly McMillan</cite>
                <p class="quote-classic-caption">Client régulier</p>
                </div>
            </div>
            <div class="quote-classic-text">
                <p>J'ai récemment vendu mon bien locatif à Nelson via MaMaisonMaVie. Tout dans la vente a été rendu transparent par votre équipe. Vous m'avez donné de bons conseils sur ce qui était nécessaire pour accélérer la vente.</p>
            </div>
            </blockquote>
            <blockquote class="quote-classic">
            <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src="static/images/testimonials-person-2-96x96.jpg" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                <cite class="quote-classic-cite">Harold Barnett</cite>
                <p class="quote-classic-caption">Client régulier</p>
                </div>
            </div>
            <div class="quote-classic-text">
                <p>J'apprécie vraiment votre temps et votre expertise pour m'aider à trouver et acheter ma maison actuelle à Assinie. J'espère que nous pourrons refaire des affaires à l'avenir et je vous recommanderai à ma famille et à mes amis.</p>
            </div>
            </blockquote>
            <blockquote class="quote-classic">
            <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src="static/images/testimonials-person-3-96x96.jpg" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                <cite class="quote-classic-cite">Bill Warner</cite>
                <p class="quote-classic-caption">Client régulier</p>
                </div>
            </div>
            <div class="quote-classic-text">
                <p>Je viens de vendre une propriété avec MaMaisonMaVie et je ne les remercierai jamais assez. Leur équipe possède de grandes compétences en communication et ils ont régulièrement communiqué avec moi tout au long du processus.</p>
            </div>
            </blockquote>
            <blockquote class="quote-classic">
            <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src="static/images/testimonials-person-4-96x96.jpg" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                <cite class="quote-classic-cite">Ann Lee</cite>
                <p class="quote-classic-caption">Client régulier</p>
                </div>
            </div>
            <div class="quote-classic-text">
                <p>Votre équipe compétente m'a aidé à concrétiser mon rêve de vendre mon ancienne propriété. La vente s'est bien déroulée et je viens de conclure un nouvel endroit idéal que je suis ravi d'appeler chez moi. Merci pour vos excellents services!</p>
            </div>
            </blockquote>
            <blockquote class="quote-classic">
            <div class="quote-classic-meta">
                <div class="quote-classic-avatar"><img src="static/images/testimonials-person-5-96x96.jpg" alt="" width="96" height="96"/>
                </div>
                <div class="quote-classic-info">
                <cite class="quote-classic-cite">Peter Clarkson</cite>
                <p class="quote-classic-caption">Client régulier</p>
                </div>
            </div>
            <div class="quote-classic-text">
                <p>Je dois dire que MaMaisonMaVie possède les meilleurs courtiers avec lesquels nous avons jamais travaillé. Leur professionnalisme, leur personnalité, leur souci du détail, leur réactivité et leur capacité à conclure la transaction sont remarquables !</p>
            </div>
            </blockquote>
        </div>
        </div>
    </section>

{% endblock %}